body {
  background: linear-gradient(#2c1600, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Container */

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hexagon { 
    background: rgb(196, 122, 31); 
    border-color: rgb(57, 31, 0); 
    border-width: 2px; 
    border-style: solid; 
    width: 12vw; 
    aspect-ratio: 1 / 1.1547; /* approx 100px * tan(60deg) */ 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/* Honeycomb Rows */
.row {
  display: flex;
  margin-top: -3.5vw; 
}

.first-row {
  margin-top: 0;
}

.offset-row {
  margin-top: -3.5vw;
}

img {
  width: 150px;
}

/* Flying Bees */

.bee-wrapper {
  position: absolute;
  animation: flyAcross 8s linear infinite;
  max-width: 100vw;
}

.bee {
  font-size: 44px;
  animation: bounce 2s ease-in-out infinite;
}

.bee1 { top: 35%; animation-duration: 6s; animation-direction: reverse;}
.bee2 { top: 50%; animation-duration: 9s; animation-direction: reverse;}
.bee3 { top: 65%; animation-duration: 12s; }
.bee5 { top: 85%; animation-duration: 7s; animation-direction: alternate-reverse;}
.bee6 { top: 15%; animation-duration: 4s; }
.bee7 { top: 25%; animation-duration: 17s; animation-direction: alternate-reverse; }
.bee8 { top: 5%; animation-duration: 8s; animation-direction: alternate-reverse; }
.bee9 { top: 85%; animation-duration: 15s; animation-direction: alternate; }
.bee10 { top: 55%; animation-duration:20s; animation-direction: alternate-reverse; }
.bee11 { top: 5%; animation-duration: 15s; animation-direction: reverse; }
.bee12 { top: 85%; animation-duration: 7s; animation-direction: alternate-reverse; }
.bee13 { top: 55%; animation-duration:13s; animation-direction: reverse; }
.bee14 { top: 35%; animation-duration:14s; animation-direction: reverse; }

.bee:hover {
  animation: honeycomb 0.7s ease-in-out infinite;
}

.bee4 {
  position: absolute;
  top: 80%;
  left: 60%;
  font-size: 44px;
  animation: honeycomb 0.7s ease-in-out infinite;
}

/* ===== Animations ===== */

/* Horizontal movement */
@keyframes flyAcross {
  from {
    left: 110%;
  }
  to {
    left: -10%;
  }
}

/* Vertical bounce */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Spin */
@keyframes honeycomb {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1200px) {
  .bee { font-size: 80px; }
  .bee4 { font-size: 50px; }
    .hide-desktop {
    display: none;
  }
    .hide-tablet {
    display: none;
  }
}

@media (max-width: 1199px) {
  .bee { font-size: 50px; }
  .bee4 { font-size: 40px; }
  .hexagon { width: 13vw; }
    .hide-tablet {
    display: none;
  }
}

@media (max-width: 800px) {
  .bee { font-size: 30px; }
  .bee4 { font-size: 30px; }
  .hexagon { width: 18vw; }
  .row { margin-top: -4.5vw; }
  .offset-row { margin-top: -4.5vw; }
}

@media (max-width: 480px) {
  .bee { font-size: 30px; }
  .bee4 { font-size: 30px; }
  .hexagon { width: 22vw; }
}